*{margin:0;padding:0;}



	body{background:url(../images/back-img.png) repeat;padding-top:134px;}
	/*
	*搜索框与logo、登陆注册
	*
	*/
	#seek-top{
		width:100%;
		height:100px;
		background:#5dade2;
		position:fixed;
		top:0;
		left:0;
		right:0px;
		/*border:1px solid red;*/
		z-index:1;
		padding-top:20px;
	}
	#seek-top .Cen{width:1020px;height:97px;position:relative;left:50%;margin-left:-510px;}
	
	#seek-top img{width:190px;margin-top:15px;cursor:pointer;margin-left:5px;}
	.sousuo{position:relative;left:305px;top:-60px;height:60px;width:442px;background:url(../images/seek-sousuo.png) no-repeat;}
	.sousuo #seek-input{width:360px;height:40px;margin-left:30px;margin-top:11px;border:hidden;
		background:#eeeeee;font-size:18px;}
	.sousuo .seek-button{background:url(../images/seek-sousuo2.png) no-repeat;width:28px;height:28px;cursor:pointer;
		float:right;margin-top:15px;margin-right:12px;}
	 #seek-login{display:block;list-style-type:none;position:relative;left:810px;top:-100px;
                                         font-size:18px;}
                         #seek-login li{float:left;margin-left:45px;clear:top;}
                        #seek-login li a, #seek-login li a:visited{color:#fff;text-decoration:none;}
                        #seek-login li a:hover, #seek-login li a.link{color:#fff;text-decoration:underline;}
                /*登陆过后的*/
               
                 #seek-login-after{display:none;position:relative;left:810px;top:-115px;
                                                font-size:15px;line-height:25px;font-family:"微软雅黑";}
                #seek-login-after li{list-style-type:none;margin-left:45px;clear:top;color:#000;color:#fff;}
                #seek-login-after li a{color:#F90; text-decoration:none;}
                #seek-login-after li a:hover{color:#F90;text-decoration:underline;}
	/*
	*铺满整个屏幕的图片
	*/
	.back-img{width:100%;border:0;margin-top:120px;z-index:-1;}








        /*地图头部*/
       


  /*
  *热门景点这块
  *
  */

  .host-spot {width:341px;height:395px;margin-top:16px;
border:3px solid #5dade2;}

/*热门景点*/
.host-spot h1{font-size:25px;color:#fff;cursor:pointer;background:#5dade2;height:62px;line-height:62px;padding-left:20px;margin-bottom:10px;}
img{border:0}/* css 注释说明：设置图片边框为0 */ 
/*body{behavior:url("csshover.htc");text-align:center;} css注释说明：兼容ie6 支持标签使用hover */ 
.host-img{ width:152px; height:142px; margin:0 auto;float:left;margin-left:12px;margin-top:11px;
  filter:alpha(opacity=80);-moz-opacity:0.8;opacity:0.8;} 
.host-img{ position:relative;width:152px; height:142px;} 
.host-img a{display:none;font-weight:bolder;font-size:12px;} 
.host-img a .font-1{font-size:15px;color:#fff;margin-left:3px;margin-right:10px;}
/*.host-img a .font-2{width:}*/
.host-img:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
.host-img a:link,.host-img a:hover{color:#fff;text-decoration:none;}
.host-img:hover{cursor:pointer} 
.host-img:hover a.now{cursor:pointer; position:absolute;bottom:0;left:0; display:block;color:#FFF;
  width:152px; height:31px; line-height:31px; 
background:#297fb8;filter:alpha(opacity=60);-moz-opacity:0.8;opacity:0.8;} 
/* 设置显示文字定位位置，背景半透明 */ 


/*热门路线。。。*/
#fair{float:left; margin-left:-140px;position:relative;top:60px;width:22px;}
.host-ways{width:347px;height:509px;float:left;box-shadow:#dbdbdb 5px 5px 5px;margin-top:22px;}
*{padding:0;margin:0;}
.host-ways h1{ width:332px;height:50px;background:#5dade2; color:#FFF; line-height:50px; padding-left:15px;font-size:25px;}
.host-ways h1 img{margin-left:120px;position:relative;top:8px;}
.host-ways #Ways{ width:347px; height:460px; background:#fff;}

.host-ways ul li{ text-align:center;border-bottom:1px dashed #dbdbdb;width:347px;height:65px;list-style-type:none;}
.host-ways ul a{padding-left:10px; text-decoration:none; font-weight:bold; line-height:32px; color:#2f6c95; font-size:15px;}
.host-ways ul a:link,.host-ways ul a:visited{color:#2f6c95;}
.host-ways ul a:hover{color:#ff9600;}

.host-ways ul li:hover,#oneNew{background:#f0f4f4;}
.host-ways ul li:hover,#twoNew{background:#f0f4f4;}
.host-ways ul li:hover,#threeNew{background:#f0f4f4;}
.host-ways ul li:hover,#fourNew{background:#f0f4f4;}
.host-ways ul li:hover,#fiveNew{background:#f0f4f4;}
.host-ways ul li:hover,#sixNew{background:#f0f4f4;}
.host-ways ul li:hover,#New{background:#f0f4f4;}

.host-ways .host-four a,.host-ways .host-five a{line-height:65px;}

 /*页脚*/


        .seek-foot{width:1020px;height:184px;float:left;/*position:relative;left:180px;*/
                margin-top:20px;color:#5b5c5c;font-size:14px;padding-left:10px;}
                .seek-foot img{margin-bottom:20px;}
        .seek-foot ul{position:relative;left:80px;top:-15px;}
        .seek-foot ul li{float:left;margin-left:10px;padding-left:10px;padding-right:10px;border-right:1px solid #5b5c5c;}
        .seek-foot ul li a:link,.seek-foot ul li a:visited{color:#5b5c5c;text-decoration:none;}
        .seek-foot ul li a:hover{color:#5dade2;}


#dituContent{width:782px;height:592px;background:#f2f1ec;margin-left:3px;
border:#ccc solid 1px;margin-left:3px;margin-top:-3px;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap;}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word;}
    #MapAll{width:1021px;height:660px;margin-top:30px;}
    #Map{background:#5dade2;width:790px;height:89px;margin-left:4px;margin-top:-42px;padding-top:10px;border-radius:5px;float:left;}
    /*#Map{width:640px;height:89px;padding-top:10px;border-radius:5px;}*/
  #Map input{cursor:pointer;width:110px;height:44px;margin-left:35px;border:none;}
  #Map input:hover,#Map input:link,#Map input:visited{border:none;}
  #Map .back-0{background:url(../images/shopping-1.png) no-repeat;}
    #Map .back-1{background:url(../images/spots-1.png) no-repeat;}
      #Map .back-2{background:url(../images/grogshop-1.png) no-repeat;}
        #Map .back-3{background:url(../images/food-1.png) no-repeat;}
          #Map .back-4{background:url(../images/pastime-1.png) no-repeat;}


#Map .back-10{background:url(../images/shopping-2.png) no-repeat;}
    #Map .back-11{background:url(../images/spots-2.png) no-repeat;}
      #Map .back-12{background:url(../images/grogshop-2.png) no-repeat;}
        #Map .back-13{background:url(../images/food-2.png) no-repeat;}
          #Map .back-14{background:url(../images/pastime-2.png) no-repeat;}


#MapMessage {
  position: relative;
  float:left;
  width:225px;height:605px;
  background-color: #fff;
  
}
#Scroller-1 { 
  position: absolute; 
  overflow: hidden;
  width:225px;height:605px;
  
}
#Scroller-1 p {
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height:20px;
  font-size: 12px;
  text-indent: 20px;
  color: #000;
}
.Scroller-Container {
  position: absolute;
  top: 0px; left: 0px;
}
.Scrollbar-Track {
  width: 2px; height: 605px;
  position: absolute;
  left:420px;
  background-color: #fff;
}
.Scrollbar-Handle {
  position: absolute;
  top: 0px; left: 0px;
  width: 5px; height: 275px;
  background-color: #DCDCDC;
  border-radius:10px;
  border:1px solid #C1C1C1;
}
 .allCount{width:225px;height:42px;line-height:42px;background:#5dade2;text-align:center;}
 .allCount p{font-family:微软雅黑;font-size:15px;color:#fff;}
.Scroller-Container .SCdiv{width:225px;height:auto;padding-top:10px;float:left;padding-bottom:10px;border-bottom:1px dashed #ccc;} 
.Scroller-Container .SCdiv:hover{background:#d0e6f5;}
.Scroller-Container .newSCdiv{background:#d0e6f5;}
.Scroller-Container .SCdiv .SCimg{width:21px;float:left;padding-left:5px;} 
.Scroller-Container .SCdiv .SCmessage{width:180px;float:left;padding-right:12px;} 
.Scroller-Container .SCdiv .SCmessage a:link,.Scroller-Container .SCdiv .SCmessage a:visited{text-decoration:none;color:#366c83;} 
.Scroller-Container .SCdiv .SCmessage a+a:link,.Scroller-Container .SCdiv .SCmessage a+a:visited{text-decoration:underline;color:#366c83;}
.Scroller-Container .SCdiv .SCmessage a:hover{text-decoration:underline;color:#5dade2;}
.Scroller-Container .SCdiv .SCmessage a+a:hover{text-decoration:underline;color:#5dade2;}

/*攻略。。。。*/
.gonglve{float:left;margin-top:16px;width:640px;}
#gonglve{width:640px;}
 #commandLogo{width:215px;float:left;margin-top:61px;margin-left:-234px;border-bottom:10px solid #5dade2;}
 #commandLogo img{border:none;float:right;}
#gonglve input{cursor:pointer;width:129px;height:52px;border:none;margin-left:-10px;background:url(../images/back-img.png);
  border-bottom:10px solid #5dade2;font-weight:bolder;font-size:25px;margin-top:-10px;}
#gonglve input+input{margin-left:-10px;}

#gonglve .active{border-bottom:10px solid #ff9600;color:#ff9600;}
#spotContent {width:600px;height:auto;box-shadow:#d5d5d5 5px 5px 5px; background:#fff;border:1px solid #d5d5d5; display:none;padding:10px;padding-bottom:10px;}

#spotContent .Con .spot-left{float:left;cursor:pointer;}
#spotContent .Con .spot-right{float:left;margin-left:30px;width:350px;line-height:27px;}
#spotContent .Con .spot-right h3{color:#5dade2;cursor:pointer;}

.spot-right #spotTime{font-size:14px;color:#b6b6b6;float:right;}
.spot-right p{font-size:18px;text-indent:2em;width:350px;height:auto;}
.spot-right .gonglveMore a{float:right;font-size:15px;}
#spotContent .spot-right .gonglveMore a:link,#spotContent  .spot-right .gonglveMore a:visited{color:#000;text-decoration:none;}
#spotContent .spot-right .gonglveMore a:hover{color:#5dade2;text-decoration:none;}
#spotContent .spot-right .gonglveMore a:active{color:#5dade2;}

.spot-right .Auto a{font-size:13px;color:#b6b6b6;margin-bottom:10px;font-weight:bold;}
#spotContent .spot-right .Auto a:link,#spotContent  .spot-right .Auto a:visited{color:#b6b6b6;text-decoration:none;}
#spotContent .spot-right .Auto a:hover{color:#b6b6b6;text-decoration:underline;}
#spotContent .spot-right .Auto a:active{color:#b6b6b6;}

/*分页*/
#pages{height:65px;width:600px;/*background:red;*/font-size:18px;color:#000;
  margin-left:120px;margin-top:5px;position:relative;top:30px;}
#pages li{float:left;list-style-type:none;display:inline;margin-right:8px;}

.current-page{padding:1px 8px;background:#5dade2;border:2px solid #5dade2;margin-top:-3px;}
#pages li a:visited,#pages li a:link{padding:2px 8px;border:2px solid #5dade2;color:#000;
  text-decoration:none;background:none;}

#pages li a:hover{padding:2px 8px;background:#5dade2;}

	
  /*旅游攻略*/
#traval-guide{width:780px;float:left;margin-top:10px;}
#traval-guide input{width:129px;height:52px;border:none;margin-left:-10px;background:url(../images/back-img.png);
  border-bottom:10px solid #5dade2;font-weight:bolder;font-size:25px;margin-top:-10px;}
#traval-guide #div1 .active{border-bottom:10px solid #ff9600;cursor:text;}
#traval-guide #guideConten {width:643px; height:765px;background:#fff;box-shadow:#8C8C8C 5px 5px 5px;
  display:none; position:relative;top:-10px;}


/*#traval-guide #method {display:block;}
#method li{width:643px;}*/
.guide-left,.guide-right{float:left;}
.guide-left{margin:10px;cursor:pointer;margin-right:20px;}
.guide-right{width:400px;margin-top:10px;line-height:27px;}
.guide-right h3{color:#5dade2;font-weight:bolder;}
.guide-right .Auth{font-size:13px;color:#b6b6b6;margin-bottom:10px;font-weight:bold;}
.guide-right #guide-Time{font-size:14px;color:#b6b6b6;float:right;}
.guide-right p{font-size:18px;text-indent:2em;width:400px;}
.guide-right a{float:right;font-size:15px;}
#traval-guide #guideConten #medhtod a:link,#traval-guide #guideConten #medhtod a:visited{color:#000;text-decoration:none;}
#traval-guide #guideConten #medhtod a:hover{color:#5dade2;text-decoration:none;}
#traval-guide #guideConten #medhtod a:active{color:#5dade2;}

/*分页*/
 #guideConten #pages{height:65px;/*background:red;*/font-size:18px;color:#000;
  margin-left:170px;margin-top:10px;margin-bottom:20px;position:relative;top:30px;}
#guideConten #pages li{float:left;list-style-type:none;display:inline;margin-right:8px;}
/*#guideConten #home-page{width:80px;text-align:center;}*/
/*#guideConten #last-page{padding:2px 2px;text-align:center;}*/
#guideConten .current-page{padding:1px 8px;background:#5dade2;border:2px solid #5dade2;margin-top:-3px;}
#pages li a:visited,#pages li a:link{padding:2px 8px;border:2px solid #5dade2;color:#000;
  text-decoration:none;background:none;}
/*#pages li:hover{background:#5dade2;}*/
#pages li a:hover{padding:2px 8px;background:#5dade2;}
        /*h2 a:link,h2 a:visited {color:#F60;text-decoration:none;}
        h2 a:hover { color:#FF7256;text-decoration:underline;}*/
