@charset "utf-8";
*{padding:0;margin:0;}
body{background:url(../imagesH/background.jpg) no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;
	padding-top:130px;}
.all{width:1020px;position:relative;margin-left:-510px;left:50%;padding:0;}


/*搜索框*/
#seek-top{
		width:100%;
		height:90px;
		background:#5dade2;
		position:fixed;
		top:0;
		left:0;
		right:0px;
		/*border:1px solid red;*/
		z-index:1;
		padding-top:8px;
	}
	#seek-top .Cen{width:1020px;height:97px;position:relative;left:50%;margin-left:-510px;}
	
	#seek-top img{width:164px;height:63px;margin-top:15px;cursor:pointer;margin-left:5px;}
	.sousuo{position:relative;left:305px;top:-60px;height:60px;width:442px;background:url(../imagesH/seek-sousuo.png) no-repeat;}
	.sousuo #seek-input{width:360px;height:40px;margin-left:30px;margin-top:11px;border:hidden;
		background:#eeeeee;font-size:18px;}
	.sousuo .seek-button{background:url(../imagesH/seek-sousuo2.png) no-repeat;width:28px;height:28px;cursor:pointer;
		float:right;margin-top:15px;margin-right:12px;}
	 #seek-login{display:block;list-style-type:none;position:relative;left:810px;top:-100px;
                                         font-size:18px;}
                         #seek-login li{float:left;margin-left:45px;clear:top;}
                        #seek-login li a, #seek-login li a:visited{color:#fff;text-decoration:none;}
                        #seek-login li a:hover, #seek-login li a.link{color:#fff;text-decoration:underline;}
                /*登陆过后的*/
               
                 #seek-login-after{display:none;position:relative;left:290px;top:-145px;
                                                font-size:15px;line-height:25px;font-family:"微软雅黑";}
                #seek-login-after li{list-style-type:none;float:left;margin-left:10px;clear:top;color:#000;color:#fff;}
                #seek-login-after li a{color:#F90; text-decoration:none;}
                #seek-login-after li a:hover{color:#F90;text-decoration:underline;}
 #weather{ position:absolute; right:-120px; top:-10px;}

/*低点位置*/
	.all .header{width:1020px;}
.all .place{width:1020px;height:48px;padding-left:20px;line-height:48px;font-family:宋体;
	font-size:28px;color:#fff;background:#32b16c;position:relative;left:0;top:0px;}

.all .place a:link,.all .place a:visited{color:#fff;text-decoration:none;}
.all .place a,.all .place a:hover{color:#fff;text-decoration:underline;}

/*信息介绍*/

.all .header .message{width:286px;height:auto;font-size: 12px;padding:30px 10px 15px 35px;
	box-shadow: 4px 5px 6px #333;filter:alpha(opacity=80);opacity:0.8;background:#fff;position:absolute;
	margin-top:-518px;margin-left:689px;line-height:220%;}
.all .header .message .message-right{padding-top:10px;position:relative;width:215px;margin-top:-235px;
	margin-left:60px;}
.all .header .message .message-right .m-1{height:50px;overflow:hidden;}
.all .header .message .message-right .m-2{margin-top:-7px;line-height:20px;}

#MapMessage {
  position: relative;
  left:-30px;
  width:250px;height:275px;


}
/* bd */
.bd{width:250px;height:250px;}
.top{height:250px;width:230px;overflow:hidden;float:left;padding:0 5px 5px 5px;text-indent:2em;}
.top ul{width:230px;padding-bottom:5px;}
.scroll{width:5px;margin-left:5px;height:250px;float:left; background:#999;
 position:relative;border-radius:5px;}
.scroll p{width:5px;height:61px;background:#666;cursor:auto;left:0;top:1px;
	position:absolute;border-radius:5px; cursor:pointer;}





/*攻略。。。。*/
.gonglve{width:662px;margin-top:30px;}
#gonglve{width:662px;}
#gonglve #active{background:#acd598;}
#gonglve input[name=tabbutton]{cursor:pointer;width:134px;height:40px;border:none;background:#32b16c;
	font-size:24px;font-size:黑体;}
#gonglve input+input[name=tabbutton]{margin-left:-10px;}


#spotContent {width:640px;height:auto;box-shadow:#d5d5d5 5px 5px 5px; background:#fff;
	border:1px solid #d5d5d5; display:none;padding:10px;padding-bottom:10px;}
#spotContent .Con #ConUl li+li{margin-top:10px;}
#spotContent .Con .spot-left{float:left;cursor:pointer;}
#spotContent .Con .spot-right{float:left;margin-left:30px;width:400px;line-height:27px;}
#spotContent .Con .spot-right h3{color:#32b16c;cursor:pointer;}
.spot-right .Auto{font-size:13px;color:#b6b6b6;margin-bottom:10px;font-weight:bold;}
.spot-right #spotTime{font-size:14px;color:#b6b6b6;float:right;}
.spot-right p{font-size:13px;text-indent:2em;width:400px;height:auto;line-height:25px;color:#666;
			min-height:95px;}
.spot-right .gonglveMore a{float:right;font-size:12px;}
#spotContent .spot-right .gonglveMore a:link,#spotContent  .spot-right .gonglveMore a:visited{color:#000;text-decoration:none;}
#spotContent .spot-right .gonglveMore a:hover{color:#32b16c;text-decoration:none;}
#spotContent .spot-right .gonglveMore a:active{color:#32b16c;}


.spot-right .Auto a{font-size:13px;color:#b6b6b6;margin-bottom:10px;font-weight:bold;}
#spotContent .spot-right .Auto a:link,#spotContent  .spot-right .Auto a:visited{color:#b6b6b6;text-decoration:none;}
#spotContent .spot-right .Auto a:hover{color:#b6b6b6;text-decoration:underline;}
#spotContent .spot-right .Auto a:active{color:#b6b6b6;}


/*分页*/
#pages{width:662px;height:65px;font-size:14px;color:#000;margin-top:20px;
 	}
#pages ul{margin:0 auto;}
#pages li{float:left;list-style-type:none;margin-left:8px;}

.current-page{padding:1px 8px;background:#32b16c;border:2px solid #32b16c;margin-top:-3px;}
#pages li a:visited,#pages li a:link{padding:2px 8px;border:2px solid #32b16c;color:#000;
	text-decoration:none;background:none;}

#pages li a:hover{padding:2px 8px;background:#32b16c;}

/*大家还看了*/

	.AlsoSee{width:338px;height:456px;margin-top:30px;margin-left:15px;border:1px solid #d5d5d5;
		box-shadow:#d5d5d5 5px 5px 5px;background:#fff;}
	.AlsoSee h2{width:328px;height:45px;
		line-height:45px;padding-left:10px;background:#2fa665;color:#fff;}
	.AlsoSee .AlsoOL{width:338px;padding:10px 20px 10px 8px;}
	.AlsoSee .AlsoOL img{width:152px;height:106px;opacity:0.8;filter:alpha(opacity=80);-moz-opacity:0.8;float:left;}
	.AlsoSee .AlsoOL a:link,.AlsoSee .AlsoOL a:visited{text-decoration:none;}
	.AlsoSee .AlsoOL ol li{}
	.AlsoSee .AlsoOL img:hover{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;}
	.AlsoSee .AlsoOL .also-right{float:left;width:152px;padding-top:5px;padding-left:20px;}
	.AlsoSee .AlsoOL .mess{list-style-type:none;margin-top:10px;font-size:13px;}
	.AlsoSee .AlsoOL .mess li{height:25px;line-height:25px;}

	/*其他网站的评论。。。。。*/

.otherComment{width:664px;margin-top:30px;}


#otherDis{margin-top:10px;}
#otherDis #activ{background:#acd598;}
#otherDis input[name=otherbutton]{width:333px;height:40px;border:none;cursor:pointer;
	background:#32b16c;font-size:20px;font-family:宋体;}

.otherComment #otherDis input+input[name=otherbutton]{margin-left:-10px;}

#otherDis #disContent1{width:644px; background:#fff; display:none; 
	position:relative;box-shadow:#c9c9c9 5px 5px 5px;padding:10px;}
	#otherDis #disContent2{width:644px; background:#fff; display:none; 
	position:relative;box-shadow:#c9c9c9 5px 5px 5px;padding:10px;}
	#disContent1 #discussTop{border-bottom:1px solid #dfdede;padding-bottom:10px;font-weight:normal;}
	#disContent1  .discuss-span1{text-align:center;float:left;border-right:1px solid #dddada;width:300px;height:64px;color:#FF9500;}
	#disContent1 .discuss-span2{text-align:center;float:left;width:320px;height:60px;}
	#disContent1 .discuss-span2 h1{float:left;line-height:60px;color:#FF9500;padding-left:10%;}
	#disContent1 .discuss-span2  .span2-t{line-height:60px;color:#181818;}
	#disContent1 .discuss-span3{float:left;text-align:center;width:120px;line-height:60px;border-right:1px solid #dddada;padding-left:10px;padding-right:10px;}
	#disContent1 .discuss-span4{float:left;line-height:60px;}
	#disContent1 .discuss-span4 .span4-t{margin-left:50px;float:left;font-size:13px;position:relative;}
	#disContent1 #discussBottom{width:640px;}
	#disContent1 #discussBottom ol li{margin-top:10px;border-bottom:1px solid #dddada;padding-bottom:10px;}
	#disContent1 #discussBottom .DBleft{float:left;}
	#disContent1 #discussBottom .DBright{padding-left:13px;width:540px;float:left;}
	#disContent1 #discussBottom .DBright p{font-size:14px;line-height:25px;}
	#disContent1 #discussBottom .DBright .contenDiss{font-size:12px;color:#5b5a5a;line-height:18px;
		text-indent:2em;min-height:34px;font-family:Arial;
		 border-bottom:1px dashed #a7a6a6;padding-bottom:10px;border-top:1px dashed #a7a6a6;padding-top:10px;}
	#disContent1 #discussBottom .DBright .Timee	{color:#939292;}
	#disContent1 #discussBottom .DBright .Timee .xuxian{}
	#disContent1 #discussBottom .DBright .Timee a+a{color:#FFA022;}
	#disContent1 #discussBottom .DBright a:link,#disContent1 #discussBottom .DBright a:visited{color:#0386D1;text-decoration:none;}
	#disContent1 #discussBottom .DBright a:hover{color:#2E9BD9;text-decoration:none;}


	#disContent2 #discuss{border-bottom:1px solid #d4d2d2;padding-bottom:5px;height:120px;}
	
	#disContent2 #discuss .fenXinxi{padding-left:15px;}
	#disContent2 #discuss .fenXinxi img{margin-left:10px;}
	
	#disContent2 .disBottom li{margin-top:20px;border-bottom:1px solid #d4d2d2;}
	#disContent2 .disBottom .disBLeft{float:left;width:91px;}
	#disContent2 .disBottom .disBLeft #user1{text-align:center;font-size:12px;color:#666;margin-top:5px;}
	#disContent2 .disBottom .disBLeft a:link,#disContent2 .disBottom .disBLeft a:visited{color:#626362;text-decoration:none;}
	#disContent2 .disBottom .disBLeft a:hover{color:#32b16c;text-decoration:none;}
	#disContent2 .disBottom .disBRight{float:left;margin-left:10px;width:500px;}

	#disContent2 .disBottom .disBRight em{color:#626362;
		font-size:12px;}
	#disContent2 .disBottom .disBRight em img{margin-left:10px;position:relative;top:3px;}
	#disContent2 .disBottom .disBRight .Bdis{width:527px;font-size:12px;color:#666;
		padding-left:10px;padding-top:10px;line-height:25px;min-height:54px;}
	#disContent2 .disBottom .disBRight a{font-size:14px;float:right;}
	#disContent2 .disBottom .disBRight a:link,#disContent2 .disBottom .disBRight a:visited{color:#32b16c;text-decoration:none;}
	#disContent2 .disBottom .disBRight a:hover{color:#32b16c;text-decoration:underline;}
	#disContent2 .disBottom .disBRight .TimeLove{width:537px;height:25px;border-top:1px dashed #d2d0d0;margin-top:10px;padding-top:10px;}
	#disContent2 .disBottom .disBRight .LT-1{float:right;}
	
/*暂时无评论的样式*/
 #notext{
	 padding-top:50px;
	 font-size:20px; 
	 color:#999;
	 padding-bottom:50px;
	
	}
#notext-1{
	
	 font-size:15px; 
	 color:#999;
	 
	 min-height:300px; 
	 padding-top:80px;
	 display:block;
	
	}



/*大家点评*/
.Discuss{width:338px;height:auto;margin-top:20px;margin-left:16px;border:1px solid #2fa665;
box-shadow:#cfcdcd 5px 5px 5px;padding-bottom:130px;background:#fff;}
.Discuss h2{width:340px;height:61px;color:#fff;line-height:45px;
	background:url(../imagesH/diss2.jpg) no-repeat;padding-left:60px;}
.Discuss .Dis li img>img{width:65px;height:78px;}
.Discuss .Dis {padding:10px;}
.Discuss .Dis .Dis-left{float:left;margin-bottom:10px;width:64px;}
.Discuss .Dis .Dis-right {float:left;width:240px;margin-left:10px;}
.Discuss .Dis .Dis-right .contenDis{color:#4F4F4F;font-size:12px;margin-top:5px;line-height:18px;min-height:50px;}
.Discuss .Dis li a:link,.Discuss .Dis li a:visited{color:#39f;text-decoration:none;}
.Discuss .Dis li a:hover{color:#e60012;text-decoration:none;}
.Discuss ol {margin-left:150px;}
.Discuss ol li{float:left;width:20px;margin-left:15px;}
.Discuss ol li a:link,.Discuss ol li a:visited{color:#007238;text-decoration:none;}
.Discuss ol li a:hover{color:#007238;text-decoration:underline;}
.Discuss ol .current-pag{background:#89c997;color:#fff;text-align:center;}




#star ul{list-style-type:none;}
#star{width:338px;color:#666;font:12px/1.5 Arial;position:relative;margin-left:20px;margin-top:10px;}
#star ul,#star span{float:left;display:inline;height:19px;line-height:19px;}
#star ul{margin:0 10px;}
#star li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(../imagesH/star-5.png) no-repeat;}
#star strong{color:#f60;padding-left:10px;}
#star li.on{background-position:0 -28px;}
#star p{position:absolute;top:20px;width:159px;display:none;background:url(../imagesH/icon.gif) no-repeat;padding:7px 10px 0;}
#star p em{color:#f60;display:block;font-style:normal;}
#TextArea1{width:300px;border-radius:5px;
	border:2px solid #89c997;
	font-size:15px;color:#343434;margin-left:20px;margin-top:20px;height:120px;
}
.tishi{font-size:12px;color:#595c5c;margin-left:20px;margin-top:10px;}
.Sum{background:#89c997;color:#fff;font-size:20px;
	width:70px;height:27px;border:none;cursor:pointer;
	float:right;margin-right:10px;
}







 /*页脚*/


        .seek-foot{width:1020px;height:184px;float:left;/*position:relative;left:180px;*/
                margin-top:50px;color:#5b5c5c;font-size:14px;text-align:center;}
                .seek-foot img{margin-bottom:10px;}
        .seek-foot ul{width:600px;margin:0 auto;}
        .seek-foot ul li+li{border-right:1px solid #5b5c5c;margin-left:10px;}
        .seek-foot ul li{float:left;padding-right:10px;}
        .seek-foot ul li a:link,.seek-foot ul li a:visited{color:#5b5c5c;text-decoration:none;}
        .seek-foot ul li a:hover{color:#5dade2;}
        .seek-foot p{text-align:center;margin-top:20px;}